<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.telan.numbergame.mapper.GameDOMapper" >
  <resultMap id="BaseResultMap" type="com.telan.numbergame.domain.GameDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="game_type_id" property="gameTypeId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="progress" property="progress" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="BIGINT" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List_Without_Id" >
    type, game_type_id, user_id, status, progress, score, gmt_modified, gmt_created
  </sql>
  <sql id="Base_Column_List" >
    id, <include refid="Base_Column_List_Without_Id" />
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
    from game
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from game
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.telan.numbergame.domain.GameDO" useGeneratedKeys="true" keyProperty="id" >
    insert into game (<include refid="Base_Column_List_Without_Id" />)
    values (#{type,jdbcType=INTEGER}, #{gameTypeId,jdbcType=BIGINT},#{userId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},
      #{progress,jdbcType=INTEGER}, #{score,jdbcType=BIGINT}, #{gmtModified,jdbcType=TIMESTAMP},
      #{gmtCreated,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.telan.numbergame.domain.GameDO" >
    update game
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="progress != null" >
        progress = #{progress,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=BIGINT},
      </if>
        gmt_modified = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="pageQuery" parameterType="com.telan.numbergame.query.GamePageQuery" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM game
    <include refid="querySqlString" />
    <if test="needPageQuery" >
      limit #{startRow},#{pageSize}
    </if>
    order by gmt_modified desc
  </select>
  <select id="queryCount" parameterType="com.telan.numbergame.query.GamePageQuery" resultType="int">
    SELECT
    COUNT(*)
    FROM game
    <include refid="querySqlString" />
  </select>
  <sql id="querySqlString">
    <where>
      <if test="statusList != null and statusList.size() > 0">
        and status in
        <foreach close=")" collection="statusList" index="index" item="status" open="(" separator=",">
          #{status}
        </foreach>
      </if>
      <if test="progress != null">
        and
        progress = #{progress}
      </if>
      <if test="type != null">
        and
        type = #{type}
      </if>
      <if test="userId != null">
        and
        user_id = #{userId}
      </if>
      <if test="ids != null and ids.size() > 0">
        and id in
        <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="gameTypeId != null">
        and
        game_type_id = #{gameTypeId}
      </if>
    </where>
  </sql>
</mapper>