<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.telan.numbergame.mapper.GameProgressDOMapper" >
  <resultMap id="BaseResultMap" type="com.telan.numbergame.domain.GameProgressDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="game_id" property="gameId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="progress" property="progress" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, game_id, user_id, progress, score, status, feature, gmt_created, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
    from game_progress
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from game_progress
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.telan.numbergame.domain.GameProgressDO" useGeneratedKeys="true" keyProperty="id" >
    insert into game_progress (game_id, user_id, progress, 
      score, status, feature, 
      gmt_created, gmt_modified)
    values (#{gameId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{progress,jdbcType=INTEGER}, 
      #{score,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{feature,jdbcType=VARCHAR}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.telan.numbergame.domain.GameProgressDO" >
    update game_progress
    <set >
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="progress != null" >
        progress = #{progress,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="pageQuery" parameterType="com.telan.numbergame.query.GameProgressPageQuery" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM game_progress
    <include refid="querySqlString" />
    <if test="needPageQuery" >
      limit #{startRow},#{pageSize}
    </if>
    order by gmt_modified desc
  </select>
  <select id="queryCount" parameterType="com.telan.numbergame.query.GameProgressPageQuery" resultType="int">
    SELECT
    COUNT(*)
    FROM game_progress
    <include refid="querySqlString" />
  </select>
  <sql id="querySqlString">
    <where>
      <if test="statusList != null and statusList.size() > 0">
        and status in
        <foreach close=")" collection="statusList" index="index" item="status" open="(" separator=",">
          #{status}
        </foreach>
      </if>
      <if test="progress != null">
        and
        progress = #{progress}
      </if>
      <if test="userId != null">
        and
        user_id = #{userId}
      </if>
      <if test="ids != null and ids.size() > 0">
        and id in
        <foreach close=")" collection="ids" index="index" item="item" open="(" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="gameId != null">
        and
        game_id = #{gameId}
      </if>
    </where>
  </sql>
</mapper>